*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family:'Roboto';
}

html,body {
    width: 100%;
    height: 100%;
}


#main {
    width: 100%;
    height: 100%;
    background-color: #000000;
}

#main h1 {
    font-size: 100px;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 120px;
    /* margin-top: 50px; */
    width: 80%;
    margin-left: 10%;
    position: relative;
    z-index: 1;
}

#main h1:nth-child(2){
    margin-top: 180px;
}

#main h1:nth-child(3){
    /* margin-top: 180px; */
    text-align: center;
}

#main h1:nth-child(4){
    /* margin-top: 180px; */
    text-align: center;
}
#nav {
    display: flex;
    align-items:center ;
    justify-content: space-between;
    height: 60px;
    padding: 0 30px;
}

#nav-2{
    display: flex;
    align-items: center;
    gap:50px ;
}

#nav h3 {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 400;
}

img {
    height: 400px;
    position: absolute;
    top: 20%;
    left: 40%;
    opacity: 0.5;

}

#img-1 {
    rotate: 20deg;
}

#img-2 {
    rotate:10deg;
}

